#ppl , #sign{
    color: gray;
    vertical-align: middle;
    padding-top: 15px;
}

#login-nav input { margin-bottom: 15px; }

body {
    background-color: hsl(191, 52%, 50%);
    margin-top:30px;
}

table {
    border-color: black;
}

tbody {
    color: white;
}

a {
	color: hsl(56, 70%, 50%);
}

th {
	color: white;
	font-weight: bold;
	text-align: left;
	width: 200px;
}	

td {
	width: 200px;
}

#msg{
    color: gray;
    font-size: small;
    text-align: center;
}

.badge {
	background-color: hsl(249, 82%, 50%);
}




